@font-face {
  font-family: "Inter-Variable";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

body {
  font-family: "Inter-Variable", sans-serif;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(90vw, 360px);
  height: min(90vh, 590px);
  border-radius: 10px;
  z-index: 1;
}

.card img {
  border-radius: 50px;
  width: 85px;
  margin-bottom: 10px;
}

.card h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

.card h2 {
  margin-top: 0;
  color: hsl(75, 94%, 57%);
  font-size: 14px;
}

.card p {
  color: lightgray;
  font-size: 14px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buttons a {
  width: 82%;
  text-align: center;
}

button {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 14px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  margin-top: 13px;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  border-color: hsl(0, 0%, 20%);
}

button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 10px;
}

.attribution {
  color: white;
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: hsl(228, 45%, 64%);
  text-decoration: underline;
}