@font-face {
  font-family: "Inter-Variable";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

body {
  font-family: "Inter-Variable", sans-serif;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  align-content: center;
  margin: 0;
}

.card {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 600px;
  border-radius: 10px;
}

.card img {
  border-radius: 50px;
  width: 85px;
  margin-bottom: 10px;
}

.card h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

.card h2 {
  margin-top: 0;
  color: hsl(75, 94%, 57%);
  font-size: 13px;
}

.card p {
  color: lightgray;
  font-size: 12px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  margin-top: 15px;
  width: 300px;
  height: 45px;
  border-color: hsl(0, 0%, 20%);
}

button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 20px;
}

.attribution {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: hsl(228, 45%, 64%);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .card {
    height: 70%;
    width: 90%;
  }

  button {
    height: 50px;
  }
}